
---
---

@import "{{ site.theme }}";
 
body {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

p, a, li, blockquote, input, textarea {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

a {
    color: #59A52C;
    text-decoration: none; /* Removes the default underline */
}

a:hover {
    color: #417722; /* A slightly darker shade for hover effect */
    text-decoration: underline; /* Optional: Adds underline on hover */
}

blockquote {
    font-style: normal; /* Removes the italic style */
    font-size: 0.875em; /* Reduces the font size by 2 points */
    margin: 1em 0; /* Adds some vertical spacing */
    padding: 0.5em 1em; /* Adds padding inside the blockquote */
    border-left: 4px solid #59A52C; /* Optional: Adds a green left border for emphasis */
    background-color: #f9f9f9; /* Optional: Light gray background for contrast */
}
