
---
---

@import "{{ site.theme }}";
 
body {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

p, a, li, blockquote, input, textarea {
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
}

a {
    color: #59A52C;
    text-decoration: none; /* Removes the default underline */
}
